/********************
MAIN STYLES
*********************/
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {padding: 0 1em;}

/********************
BACKGROUND BODY STYLES
*********************/

body {
	background: url('../images/MVUSDClasspics_7_web.jpg') center center no-repeat;
	color: #fff;
	background-size: cover;
	
	background-attachment: fixed;
}


/**********************
NAVIGATION STYLES
***********************/

ul {
margin: 0;
padding: 0;
list-style: none;
}


ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: background-color 1s;
  transition: font-size .2s;
  display: inline-block;
  padding: 1em 3em;
  margin: .2em 0;
  border-radius: 20px;
  font-size: 1.2em;
  width: 80%;
}

/**********************
NAVIGATION HOVER STYLES
***********************/
.staffnav a {background-color: #3E8724;}
.parentnav a {background-color: #222254;}
.trainingnav a {background-color: #6D298A;}

.staffnav a:hover {
	background-color: #8AEC52;
 /* font-size: 1.3em;*/
}

.parentnav a:hover {
  background-color: #5E5EB8;
  /*font-size: 1.3em;*/
}

.trainingnav a:hover {
  background-color: #8229A1;
  /*font-size: 1.3em;*/
}


/**********************
HEADER STYLES
***********************/

.header {
	padding: 1em 0;
	margin: 0;
	text-align: center;
}


.mvusdlogo {
	width: 50px;
	height: 50px;
}

.mvusdtitle {
  margin-right: 10px;
}


img.quincylogo {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
}

h1.qlanding {
	font-size: 4.7em;
	margin:  .2em;
	padding: 0;
	
	}

/**********************
CARD STYLES
***********************/


.card-wrapper {margin-top: 10px;}

.card {
	width: 100%;
	opacity: 0.95;
	padding: 1em 0;
	text-align: center;
	border-radius: 25px;
}

.card h2 {
  text-transform: uppercase;
  font-size: 2em;
  color: #fff;
}

/************************
CARD COLOR STYLES
*************************/

.staff {background-color: #26C847;}
.parents {background-color: #393987;}
.training {background-color: #9826C8;}

/**********************
CIRCLE STYLES
***********************/
.circle img {
	height: 100%;
	width: auto;
/*margin-top: .5em; /*IF USING Q LOGOs*/
/*opacity: .8;     /*IF USING Q Logos*/
}

.circle {
	text-align: center;
	border-radius: 50%;
	background-color: #fff;
	height: 200px;
	width: 200px;
	display: inline-block;
}


/*IF USING Q Logos
.staff .circle {background-color: #3E8425;}
.parents .circle {background-color: #DC4C4C}
.training .circle {background-color: #6D298A;}
*/
/**********************
FOOTER STYLES
***********************/

.footer {
	padding: 1em 0;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #464242;
	height: 150px;
	line-height: 10px;
	}

.footer a {
	  text-decoration: none;
	  color: #464242;
}


.card-wrapper {
	padding-left: 1em;
	padding-right: 1em;
}

.card {margin: 1em 0;}


@media all and (min-width: 796px) {

.wrapper {
	margin: 0 auto;
	width: 98%;
}

	.card {
		width: 31%;
		display: inline-block;
		vertical-align: top;
		height: 380px;
		margin: 0 6px;
		padding: 10px;
		
	}
ul li a {
  
  font-size: 1em;

}

}



@media all and (min-width: 972px) {



ul li a {

  font-size: 1.1em;

}

.wrapper {
		/*margin: 0 auto;*/
		width: 96%;
		/*max-width: 1296px;*/
	} 

.quincylogo {
	display: inline-block;
}

.quincylogo .qlanding {
	display: inline-block;
	
}

	.header {
		margin: 1em 0;
}

	.card-wrapper {
		margin-top: 2em;
	}


	.card {
		width: 30%;
		display: inline-block;
		vertical-align: top;
		height: 380px;
		margin: 0 10px;
		padding: 10px;
	
	}

	h1.qlanding {
		display: inline-block;
		padding: 0;
		vertical-align: top;

	}

	.mvusdlogo {
		display: inline-block;
		vertical-align: top;

	}


  img.quincylogo {
    margin-top: 1em;
    width: 110px;
    height: 110px;
    display: inline-block;
    vertical-align: top;
  }

  h1.qlanding {
  font-size: 6em;
  margin:  .2em;
  padding: 0;}
  

}

@media all and (min-width: 1096px) {
	
	ul li a {

  font-size: 1.2em;

}
.wrapper {
	max-width: 1296px;
	} 


	.wrapper {
	
	}
	.card {
		width: 31%;
		display: inline-block;
		vertical-align: top;
		margin: 0 10px;
		padding: 10px;
	}


}